.first {
    display: flex;
    margin-bottom: 100px;
}

.orange {
    color: orange;
}

.first-1 {
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;

}

.first-1 h1 {
    font-size: 50px;
}

.first-1 p {
    font-size: 22px;
    margin-bottom: 35px;
}

.first-1 a {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 18px;
    border-radius: 40px;
    font-weight: 700;
}

.first-2 img {
    width: 80%;
    margin-left: 53px;
    margin-top: 37px;
}

.second {
    display: flex;
    margin-top: 35px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.second-1 img {
    width: 30%;
    margin-left: 25%;
}

.second-2 {
    width: 50%;
    margin-right: 111px;
}

.second-2 p {
    margin-bottom: 50px;
}

.second-2 a {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 18px;
    border-radius: 40px;
    font-weight: 700;
}

.three-1 {
    justify-content: center;
    text-align: center;
    margin-left: 26%;
    width: 50%;
    padding-bottom: 50px;
}

.three-2 {
    display: flex;
}

.three-21 {
    width: 20%;

    margin-left: 154px;
    box-shadow: 5px 5px 5px 0 gray, -5px -5px 5px 0 gray;
    border-radius: 3%;
}

.three-21 h4 {
    margin-left: 10px;
}

.three-21 p {
    margin-left: 10px;
}

.three-22 h4 {
    margin-left: 10px;
}

.three-22 p {
    margin-left: 10px;
}

.three-23 h4 {
    margin-left: 10px;
}

.three-23 p {
    margin-left: 10px;
}

.three-22 {
    width: 20%;

    margin-left: 45px;
    box-shadow: 5px 5px 5px 0 gray, -5px -5px 5px 0 gray;
    border-radius: 3%;

}

.three-23 {
    width: 20%;

    margin-left: 47px;
    box-shadow: 5px 5px 5px 0 gray, -5px -5px 5px 0 gray;
    border-radius: 3%;

}

.three-21 img {
    width: 90%;
    justify-content: center;
    margin-left: 10px;

}

.three-22 img {
    width: 90%;
    justify-content: center;
    margin-left: 10px;
}

.three-23 img {
    width: 90%;
    justify-content: center;
    margin-left: 10px;
}

.three {
    margin-bottom: 80px;
}

.three-3 {
    background-color: black;
    height: 200%;
    color: white;
    text-align: center;
}